
//@import url(http://fonts.googleapis.com/css?family=Roboto);

$live-color: #ff0101;
$dvr-color: #fff;
$vod-color: #005aff;

$disabled-opacity: 0.3;

$control-height: 32px;
$circle-radius: 3.5px;

.comments-controls[data-comments-controls] {
  display: inline-block;
  float: left;
  color: $dvr-color;
  line-height: 32px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 6px;

  .add-comment {
    cursor: default;
    font-family: "Roboto", "Open Sans", Arial, sans-serif;
    /*&:before {
      content: "";
      display: inline-block;
      position: relative;
      width: $circle-radius*2;
      height: $circle-radius*2;
      border-radius: $circle-radius;
      margin-right: $circle-radius;
      background-color: $live-color;
    }
    &.disabled {
      opacity: $disabled-opacity;
      &:before {
        background-color: $dvr-color;
      }
    }*/
  }
}


.comments-bar {
  display: inline-block;
  float: left;
  line-height: 32px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 6px;
}

.comment-pointer {
  position: absolute;
  left: 20px;
  top: 8px;

  width: 2px;
  height:8px;
  background: lightgreen;

  color: lightgreen;
  transition: background 0.2s linear;

  &:hover {
    background: red;
  }
}

.video-comment {
  color: white;
  text-align: left;
  font-size: 12px !important;
}

.comment-actif {
  padding: 5px !important;
}

.img-comment {
  img {
    max-width: 400px;
    max-height: 200px; 
  }
  min-width: 100px;
  min-height: 50px;
  .spinner-three-bounce {
    top: 25%;
    &> div {
      width: 10px;
      height: 10px;
    }   
  }

}


// Modification du core

.media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-scrubber[data-seekbar] {
  z-index: 99;
}

.seek-time[data-seek-time] {
  height: initial !important;
}