
//@import url(http://fonts.googleapis.com/css?family=Roboto);

$live-color: #ff0101;
$dvr-color: #fff;
$vod-color: #005aff;

$disabled-opacity: 0.3;

$control-height: 32px;
$circle-radius: 3.5px;

.comments-controls[data-comments-controls] {
  display: inline-block;
  float: left;
  color: $dvr-color;
  line-height: 32px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 6px;

  .add-comment {
    cursor: default;
    font-family: "Roboto", "Open Sans", Arial, sans-serif;
    /*&:before {
      content: "";
      display: inline-block;
      position: relative;
      width: $circle-radius*2;
      height: $circle-radius*2;
      border-radius: $circle-radius;
      margin-right: $circle-radius;
      background-color: $live-color;
    }
    &.disabled {
      opacity: $disabled-opacity;
      &:before {
        background-color: $dvr-color;
      }
    }*/
  }
}


.media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button {
background-color: red !important;
}

body {
  background: lightgrey;
}